# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli.js
/.env*
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/bower.json
/CHANGELOG.md
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/jsconfig.json
/RELEASE.md
/testem.js
/testem.log
/tests/
/yarn.lock
/yarn-error.log
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
