name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v2
        with:
          node-version: 18
      - name: Lint
        run: pnpm lint
      - name: Run Tests
        run: pnpm test:ember

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v2
        with:
          node-version: 18
          no-lockfile: true
      - name: Run Tests
        run: pnpm test:ember

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: "test"
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-4.12
          - ember-release
          - ember-beta
          - ember-canary
          - no-deprecations
          - ember-release-no-deprecations
          - embroider-safe
          - embroider-optimized
          - ember-modifier-3.2.7

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v2
        with:
          node-version: 18
      - name: Run Tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
